:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-color-tint-2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --text-color-bright-1: #C4C4C4;
  --text-color-bright-2: #808080;
  --text-color-dark-1: #1F1F1F;

  --primary-color: #006CA3;
  --primary-color-shade-1: #115883;
  --primary-color-shade-2: #164465;
  --primary-color-shade-3: #163248;
  --primary-color-tint-1: #4C85B4;
  --primary-color-tint-2: #779FC4;
  --primary-color-tint-3: #9FB9D5;
  --primary-color-var-1: #00AAFF;
  --primary-color-var-2: #5CC9FF;
  --primary-color-var-3: #00AAFF;
  --primary-color-var-4: #B8E7FF;
  --secondary-color: #FCC314;
  --third-color: #FFFFFF;
  --fourth-color: #000000;
  --orange-1: #FC9331;
  --purple-1: #985EFD;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
